@model IEnumerable<LibraryManagmentSystem.Models.BooksInfo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoOfCopies)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthorInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublisherInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageURl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IssuedBooks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAvailable)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoOfCopies)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorInfo.AuthorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublisherInfo.PublisherId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageURl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IssuedBooks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAvailable)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BookId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BookId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BookId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
