@model BooksInfo
<div class="column col col-lg-3 col-md-3 col-sm-3">
		<div class="card" style="width: 15rem; height:min-content;">
		  <img class="card-img-top" src="@Model.ImageURl" alt="@Model.BookTitle"/>
		  <div class="card-body">
			<div class="card-text">No. of Copies Available : @(@Model.NoOfCopies - @Model.IssuedBooks)<br/>
				Author : @Model.AuthorInfo.AuthorName<br/>
				Category : @Model.Category<br/>
				<form asp-controller="LendRequest" asp-action="RequestToLend" asp-route-bookId="@Model.BookId">
				<button class="RequestToLent"  >Request to Lent</button>
				</form>
				
			</div>
		  </div>
		</div>
		</div>
