@{
	Layout="_userLayout";
}
@model IEnumerable<LibraryManagmentSystem.Models.LendRequest>

 <div class="container">
  <div class="row justify-content-md-center"> 
<div class="col-md-12">
    <div class="card">
        <div class="card-body">
                  <div class="row">
                     <div class="col">
                        <center>
                           <h4>Your all records</h4>
                        </center>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col">
                        <center>
                           <img width="100px" src="~/Images/imgs/books.png" />
                        </center>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col">
                        <hr>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col">
                        <table class="table table-striped table-bordered" >
                            <thead>

                                <tr>
                                    <td>Lend Id </td>
                                    <td>User Name </td>
                                    <td>Book Name</td>
                                    <td>Fine Amount</td>
                                    <td>Status</td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var request in Model)
                                {
                                    <tr>
                                        <td>@request.LendId</td>
                                        <td>@request.AccountsInfo.UserName</td>
                                        <td>@request.BooksInfo.BookTitle</td>
                                        <td> @request.FineAmount</td>
                                        <td>@request.LendStatus</td>
                                    </tr>
                                }
                        </tbody>
                        </table>
                     </div>
                  </div>
        </div>
    </div>
</div>
</div>
</div>

