
@model IEnumerable<LibraryManagmentSystem.Models.LendRequest>
 <div class="container">
  <div class="row justify-content-md-center"> 
<div class="col-md-12">
    <div class="card">
        <div class="card-body">
                  <div class="row">
                     <div class="col">
                        <center>
                           <h4>Lended Books List</h4>
                        </center>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col">
                        <center>
                           <img width="100px" src="~/Images/imgs/books.png" />
                        </center>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col">
                        <hr>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col">
                        <table class="table table-striped table-bordered" >
                            <thead>
                                <tr>
                                <td>Lend Id </td>
                                <td>User Name </td>
                                <td>Book Name</td>
                                <td>Lend Date</td>
                                <td>Due Date</td>
                                <td>Status</td>
                                <td colspan="2"></td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var lendList in Model)
                                {
                                    <tr>
                                        <td>@lendList.LendId</td>
                                        <td>@lendList.AccountsInfo.UserName</td>
                                        <td>@lendList.BooksInfo.BookTitle</td>
                                        <td>@lendList.LendDate</td>
                                        <td>@lendList.ReturnDate</td>
                                        <td>@lendList.LendStatus</td>
                                     
                                    </tr>
                                }
                        </tbody>
                        </table>
                     </div>
                  </div>
        </div>
    </div>
</div>
</div>
</div>
